@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Century Gothic", sans-serif;
}

.pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.link-button {
  @apply inline-block p-3 rounded-md transform-gpu transition-all hover:bg-blue-500 hover:text-gray-100 hover:scale-105;
}

.button {
  @apply p-3 rounded-md text-gray-100 bg-blue-600 transform-gpu transition-all hover:bg-blue-700  hover:scale-105;
}
